html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	width: 100%;
	font-family: 'Work Sans';
	font-size: 14px;
	background: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 150px;
}

section {
	margin: 140px 250px;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	width: 90%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.portfolio__title {
	display: flex;
	justify-content: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.gallery h5 {
	color: #3D3D3D;
	font-weight: 400;
	line-height: normal;
}

.filters {
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	margin-top: 20px;
}

.filtersN {
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	cursor: pointer;
	font-family: 'Syne', sans-serif;
	padding: 10px 25px 10px 25px;
}

.filterA {
	color: white;
	background-color: #1D6154;
}


#contact {
	width: 40%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 20px 200px;
}

#edit {
	align-items: center;
	background: black;
	gap: 20px;
	height: 60px;
	justify-content: center;
}

.edit__mod {
	color: white;
}

.edit__pub {
	background: white;
	border-radius: 60px;
	color: black;
	cursor: pointer;
	padding: 11px 23px;
}

.modify {
	cursor: pointer;
	margin-top: 15px;
	gap: 10px;
}

.modifytwo {
	cursor: pointer;
	padding-top: 10px;
	padding-left: 30px;
	gap: 10px;
}

.modal {
	display: none;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.modal.active {
	display: block;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.modal__open {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.30);
}

.firstModal {
	background: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: auto;
	max-width: 630px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.firstModal__close {
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 30px;
	top: 25px;
}

.firstModal__title {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	margin-top: 60px;
	text-align: center;
}

.firstModal__gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-left: 105px;
	margin-right: 105px;
	margin-top: 45px;
}

.firstModal__gallery img {
	max-height: 104px;
	max-width: 78px;
}

.move {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 17px;
	height: 21px;
	background: black;
	color: white;
	position: relative;
	top: -136px;
	left: 36px;
}

.delete {
	background: black;
	border: none;
	color: white;
	cursor: pointer;
	padding: 2.5px 3px;
	position: relative;
	top: -115px;
	left: 56px;
}

.firstModal__bar {
	border: 1px solid #B3B3B3;
	max-width: 420px;
	margin-bottom: 38px;
	margin-left: 105px;
	margin-top: 10px;
}

.firstModal__button {
	background: #1D6154;
	border: none;
	border-radius: 60px;
	color: white;
	cursor: pointer;
	width: 237px;
	height: 36px;
	margin-bottom: 25px;
	margin-left: 195px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
}

.firstModal__supp {
	color: #D65353;
	cursor: pointer;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Syne';
	font-weight: 400;
	font-size: 14px;
}

.sndModal {
	background: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: auto;
	max-width: 630px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sndModal__arrow {
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	left: 30px;
	top: 25px;
}

.sndModal__close {
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 30px;
	top: 25px;
}

.sndModal__title {
	color: black;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	margin-top: 60px;
	text-align: center;
}

.sndModal__form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 105px;
	max-width: 420px;
}

.sndModal__img {
	align-items: center;
	background: #E8F1F7;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	height: 188px;
	margin-bottom: 30px;
	margin-top: 36px;
	max-width: 420px;
}

.sndModal__img img {
	height: 26.7%;
	width: 20%;
	position: absolute;
	top: 122px;
}

.sndModal__icon {
	color: #B9C5CC;
	font-size: 58px;
	margin-bottom: 13px;
	margin-top: 25px;
}

.sndModal__form input[type="file"] {
	display: none;
}

.sndModal__photo {
	color: #306685;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;
	background: #CBD6DC;
	border: none;
	border-radius: 50px;
	padding: 10px 33px;
	text-align: center;
}

.sndModal__mo {
	color: #444444;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 10px;
}

.sndModal__form input[type="text"] {
	height: 51px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0px;
}

.sndModal__form select {
	background: white;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: #6C6C6C;
	height: 51px;
	padding-right: 20px;
}

.sndModal__error {
	color: #D65353;
	text-align: center;
}

.sndModal__bar {
	border: 1px solid #B3B3B3;
	max-width: 420px;
	margin-top: 35px;
}

.sndModal__form input[type="submit"] {
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background: #A7A7A7;
	width: 237px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: none;
	margin-bottom: 60px;
}

.sndModal__form input[type="submit"].active {
	background: #1D6154;
}